/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 9, ../sass/screen.scss */
#main-app-container {
  padding: 20px;
  margin-top: 50px;
}

/* line 14, ../sass/screen.scss */
#search-container {
  height: 40px;
  margin-bottom: 20px;
  padding: 5px;
}
/* line 19, ../sass/screen.scss */
#search-container form {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  justify-content: space-around;
  height: 100%;
}
/* line 26, ../sass/screen.scss */
#search-container form > * {
  max-height: 100%;
  margin: 0 5px;
}
/* line 31, ../sass/screen.scss */
#search-container form input {
  flex-grow: 2;
  border-style: none;
  border: 2px solid rgba(48, 48, 48, 0.7);
  padding: 10px;
  border-radius: 50px;
}
/* line 38, ../sass/screen.scss */
#search-container form input:focus {
  outline: none;
}
/* line 43, ../sass/screen.scss */
#search-container form button#search {
  flex-grow: 1;
}

/* line 50, ../sass/screen.scss */
#initial-welcome-text {
  text-align: center;
  margin-bottom: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  height: 60px;
  background: white;
  z-index: 200;
}
/* line 60, ../sass/screen.scss */
#initial-welcome-text.scrolled {
  box-shadow: 5px 5px 5px 0px #847676;
}

/* line 65, ../sass/screen.scss */
#search-results-display {
  display: flex;
  flex-flow: column-reverse;
}
@media (min-width: 800px) and (min-device-width: 600px) {
  /* line 65, ../sass/screen.scss */
  #search-results-display {
    flex-flow: row nowrap;
    max-height: 500px;
  }
}
/* line 74, ../sass/screen.scss */
#search-results-display #left-col {
  flex-grow: 1;
  margin-right: 10px;
  overflow: scroll;
  padding: 5px 15px;
  max-height: 1000px;
}
@media (min-device-width: 600px) and (min-width: 800px) {
  /* line 74, ../sass/screen.scss */
  #search-results-display #left-col {
    max-height: 100%;
  }
}
/* line 84, ../sass/screen.scss */
#search-results-display #left-col .search-result-container {
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  height: 60px;
  align-items: center;
  border-bottom: 2px solid #323738;
}
/* line 95, ../sass/screen.scss */
#search-results-display #left-col::-webkit-scrollbar-track {
  background: rgba(0, 210, 211, 0.1);
}
/* line 99, ../sass/screen.scss */
#search-results-display #left-col::-webkit-scrollbar-thumb {
  width: 10px;
  background: #00d4d5;
}
/* line 104, ../sass/screen.scss */
#search-results-display #left-col .result-rating {
  color: #ca3c3c;
  font-weight: bold;
}
/* line 108, ../sass/screen.scss */
#search-results-display #left-col .no-rating {
  color: grey;
  font-style: italic;
  font-size: 0.8rem;
}
/* line 114, ../sass/screen.scss */
#search-results-display #left-col .search-result-meta {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  height: 100%;
}
/* line 122, ../sass/screen.scss */
#search-results-display #right-col {
  flex-grow: 3;
  border: 2px solid #303030;
}

/* line 128, ../sass/screen.scss */
#initial-search-container-text {
  text-align: center;
  font-size: 1.5em;
  font-style: italic;
  color: #bdbcbc;
}

/* line 135, ../sass/screen.scss */
button {
  border-style: none;
  border-radius: 50px;
  cursor: pointer;
}
/* line 139, ../sass/screen.scss */
button:focus {
  outline: none;
}

/* line 144, ../sass/screen.scss */
button.primary {
  border: 2px solid #42f7ff;
  background: white;
  font-weight: bold;
}
/* line 148, ../sass/screen.scss */
button.primary:hover {
  background: #00d2d3;
  border: 2px solid #0fbcbd;
}

/* line 154, ../sass/screen.scss */
button.secondary {
  min-height: 50%;
  border-style: none;
  background: white;
}
/* line 159, ../sass/screen.scss */
button.secondary:hover {
  font-weight: bold;
}

/* line 164, ../sass/screen.scss */
.line-2 {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  height: 100%;
}

/* line 173, ../sass/screen.scss */
.distance-score + .distance-hover {
  display: none;
  padding: 10px;
  max-width: 200px;
  position: absolute;
  background: white;
  z-index: 200;
  font-size: 0.8em;
  color: grey;
  box-shadow: 1px 1px 1px 1px #303030;
  bottom: -30px;
}
/* line 187, ../sass/screen.scss */
.distance-score:hover + .distance-hover {
  display: flex;
}

/* line 193, ../sass/screen.scss */
#main-spinner {
  display: flex;
  justify-content: center;
}

/* line 199, ../sass/screen.scss */
.result-name {
  color: #0bd8c2;
  font-weight: bold;
}

/* line 204, ../sass/screen.scss */
.result-address {
  color: #303030;
}

/* line 208, ../sass/screen.scss */
#logo {
  position: absolute;
  top: 25%;
  left: 20px;
  font-size: 1.3em;
  font-weight: bold;
}
